/.classpath
/.gradle/
/.project
/.settings/
/bin/
/build/
/target/
/.metadata
/.idea/
.factorypath
/.claude/
/data/
/.apt_generated/

/src/main/java/com/example/template/entity/
/src/main/java/com/example/template/dao/
/src/main/resources/META-INF/com/example/template/dao/
/src/test/java/com/example/template/dao/
