name: Java CI with Gradle

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Set up JDK 21
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1

      - name: Build plugin
        run: ./gradlew build

      - name: Set version
        id: set-version
        run: ./gradlew properties | grep "^version:" | awk '{print $2}' | { read v; echo "version=$v" >> $GITHUB_OUTPUT; }

      - name: Print version
        run: echo ${{ steps.set-version.outputs.version }}

      - name: Publish plugin
        if: github.event_name == 'push' && endsWith(steps.set-version.outputs.version, 'SNAPSHOT') == false
        run: >
          ./gradlew :codegen:publishPlugins 
          -Pgradle.publish.key=${{ secrets.GRADLE_PUBLISH_KEY }} 
          -Pgradle.publish.secret=${{ secrets.GRADLE_PUBLISH_SECRET }}
          -Pversion=${{ steps.set-version.outputs.version }}
