name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version'
        required: false

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    timeout-minutes: 30
 
    steps:
      - name: Assign input version
        if: github.event.inputs.version != null
        run: echo "RELEASE_VERSION=${{ github.event.inputs.version }}" >> $GITHUB_ENV

      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        if: github.event.inputs.version == null
        id: candidate-version
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          result-encoding: string
          script: |
            const list = await github.rest.repos.listReleases({
              owner: "domaframework",
              repo: "doma-codegen-plugin",
            });
            console.log(list)
            let version = list.data[0].name
            return version.startsWith("v") ? version.substring(1) : version

      - name: Assign candidate version
        if: github.event.inputs.version == null
        run: echo "RELEASE_VERSION=${{ steps.candidate-version.outputs.result }}" >> $GITHUB_ENV

      - name: Set up JDK 21
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1

      - name: Release ${{ env.RELEASE_VERSION }}
        run: |
          java -version
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          ./gradlew release -Prelease.releaseVersion=${{ env.RELEASE_VERSION }}

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: build
          path: ./**/build/reports
